<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152742456264-dtla4dp9nc0d0u4972945dp8su3pue73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152742456264-dtla4dp9nc0d0u4972945dp8su3pue73</string>
	<key>API_KEY</key>
	<string>AIzaSyB0v92w7wv8NCMufO1l9X3TLPjhSqLTDEY</string>
	<key>GCM_SENDER_ID</key>
	<string>152742456264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.haydenhuynh2804.together-app</string>
	<key>PROJECT_ID</key>
	<string>together-mobile-app-9c625</string>
	<key>STORAGE_BUCKET</key>
	<string>together-mobile-app-9c625.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152742456264:ios:6523e3efc66d2ffba3aefd</string>
</dict>
</plist>